.containers_objectif {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Oflex1 {
    display: flex;
    flex-wrap: wrap;
}

.nopuce {
    list-style-type: none;
    ::before {
        background-image: url(https://salindrestennis.fr/images/bjaune.png);
        background-size: 20px 20px;
        display: inline-block;
        width: 20px; 
        height: 20px;
        content:"";
        margin-right: 1rem;
        vertical-align: middle;
        padding: 0 1rem 0 0;
      }
  }

  .rien {
    list-style-type: none;

  }
  
  

.container_fl_sansmt {
    @media screen and (max-width: 500px) {
        margin-top: -4rem;
    }
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    margin-top: 4rem;
    justify-content: space-around;
    flex-wrap: wrap;
}