// @import "compass/css3";

* { box-sizing: border-box; }

body {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color:white;
  font-size:12px;
  background:#333;
}

.form_login {
 	background:#111; 
  width:400px;
  margin:30px auto;
  border-radius:0.4em;
  border:1px solid #191919;
  overflow:hidden;
  position:relative;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
  margin: 14rem auto;
  @media screen and (max-width: 500px) and (orientation: portrait) {
    width: 100%;
    margin: 8rem auto;
}
}

.form_login:after {
  content:"";
  display:block;
  position:absolute;
  height:1px;
  width:100px;
  left:20%;
  background:linear-gradient(to left, #111, #444, #b6b6b8, #444, #111);
  top:0;
}

.form_login:before {
 	content:"";
  display:block;
  position:absolute;
  width:8px;
  height:5px;
  border-radius:50%;
  left:34%;
  top:-7px;
  box-shadow: 0 0 6px 4px #fff;
}

.inset {
 	padding:20px; 
  border-top:1px solid #19191a;
}

.form_login h1 {
  font-size:18px;
  text-shadow:0 1px 0 black;
  text-align:center;
  padding:15px 0;
  border-bottom:1px solid rgba(0,0,0,1);
  position:relative;
}

.form_login h1:after {
 	content:"";
  display:block;
  width:250px;
  height:100px;
  position:absolute;
  top:0;
  left:50px;
  pointer-events:none;
  transform:rotate(70deg);
  background:linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
  
}

.label_login {
 	// color:#666;
 	color:white;
  display:block;
  padding-bottom:9px;
}

.white {
    color: white;
}
// input[type=text],
// input[type=password] {
//  	width:100%;
//   padding:8px 5px;
//   background:linear-gradient(#1f2124, #27292c);
//   border:1px solid #222;
//   box-shadow:
//     0 1px 0 rgba(255,255,255,0.1);
//   border-radius:0.3em;
//   margin-bottom:20px;
// }

.login_input {
    width:100%;
  padding:8px 5px;
  background:linear-gradient(#1f2124, #27292c);
  border:1px solid #222;
  box-shadow:
    0 1px 0 rgba(255,255,255,0.1);
  border-radius:0.3em;
  margin-bottom:20px;
  color: white;
}

label[for=remember]{
 	color:white;
  display:inline-block;
  padding-bottom:0;
  padding-top:5px;
}

input[type=checkbox] {
 	display:inline-block;
  vertical-align:top;
}

.p-container {
 	padding:0 20px 20px 20px; 
}

.p-container:after {
 	clear:both;
  display:table;
  content:"";
}

.p-container span {
  display:block;
  float:left;
  color:#0d93ff;
  padding-top:8px;
}

input[type=submit] {
 	padding:5px 20px;
  border:1px solid rgba(0,0,0,0.4);
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 10px 10px rgba(255,255,255,0.1);
  border-radius:0.3em;
  background:#0184ff;
  color:white;
  float:right;
  font-weight:bold;
  cursor:pointer;
  font-size:13px;
}

input[type=submit]:hover {
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 -10px 10px rgba(255,255,255,0.1);
}

// input[type=text]:hover,
// input[type=password]:hover,
label:hover ~ input[type=text],
label:hover ~ input[type=password] {
 	background:#27292c;
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
#bg {
  // background-image: url('img/background.jpg');
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(5px);
}

// body {
//   font-family: 'Lato', sans-serif;
//   color: #4A4A4A;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
//   overflow: hidden;
//   margin: 0;
//   padding: 0;
// }

#login_form {
  width: 350px;
  // position: relative;
  // width: 350px;
  /* position: relative; */
  margin: 34vh auto;
  @media screen and (max-width: 500px) and (orientation: portrait) {
    width: 100%;
    margin: 11rem auto;
}
}
#login_form .form-field::before {
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 17px;
  color: #888888;
  content: " ";
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}
#login_form .form-field:nth-child(1)::before {
  background-image: url('httsp://salindrestennis.fr/src/assets/images/user-icon.png');
  width: 20px;
  height: 20px;
  top: 15px;
}
#login_form .form-field:nth-child(2)::before {
  background-image: url('httsp://salindrestennis.fr/images/lock-icon.png');
  width: 16px;
  height: 16px;
}
#login_form .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}
#login_form input {
  font-family: inherit;
  width: 100%;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  display: block;
  padding: 0.9rem 0.7rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
  color: #4A4A4A;
  text-indent: 40px;
}
#login_form .btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0.4rem 2.5rem;
  text-align: center;
  background-color: #F56A6A;
  // background-color: #47AB11;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
  @media screen and (max-width: 500px) and (orientation: portrait) {
    padding: 0.5rem 3.2rem;
    margin-top: 1rem;

}

}

.title_section_login {
  margin: 3rem auto;
    text-align: center;
    border-bottom: 1px solid #f56a6a;
    width: 100%;
}